<main>
    <h1>Make problem</h1>
    <form action="/problem/new" method="post">
        <label for="name">Name</label>
        <input type="text" name="title" id="title">
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <button type="submit">Make</button>
    </form>
</main>