<main>
    <h1>Submit to <%= problem.title %></h1>
    <form action="/problem/<%= problem.id %>/submit" method="post">
        <label for="code">Code</label>
        <div class="grow-wrap">
            <textarea name="code" id="code" onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
          </div>
        <button type="submit">Submit</button>
    </form>
</main>